/*
.wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
*/

.header {
    height: 10px;
    margin-bottom: 10px;
}

.header-inner {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    margin-left: 100px;
}

.content {
    min-height: 400px;
    width: 90%;
    float: right;
}

.sidebar {
    width: 10%;
    min-height: 400px;
    float: left;
}

.footer {
    margin-top: 10px;
    height: 50px;
}